body {
  font-family: serif;
  line-height: 1.45em;
}

.text-center {
  text-align: center;
}
.highlight-green {
  background: rgba(0,255,0,0.2);
}

div.main {
  margin: 50px auto; 
  max-width: 600px;
  min-width: 400px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

td input {
  display: table-cell;
  border: none;
  height: 100%;
}

input {
  font-family: inherit;
  font-size: 16px;
  border: none;
  background: none;
  padding: 5px;
  width: 100px;
}

input.bordered {
  border: 1px solid black;
  padding: 10px;
}

td input:focus {
  outline: none; 
}

div.chart {
  width: 100%;
  height: 500px;
}
